body {
	width: 100%;
	margin: 0;
}
/* header */
header {
	background: url("images/header_background.jpeg");
	height: 100vh;
	background-position: 50%;
	background-size: cover;
}
header .logo1 {
	display: block;
	margin: auto;
	width: 120px;
}
header p {
	margin: 130px 0 0 70px;
	font-family: 'Playfair Display', serif;
	font-size: 78px;
	font-weight: bold;
	color: white;
	width: 80%;
	line-height: 75px;
}
header h1 {
	margin: 0 0 110px 70px;
	font-family: 'Playfair Display', serif;
	font-size: 57px;
	font-weight: normal;
	color: white;
}
.header_logo2 {
	position: fixed;
	bottom: 0;
	width: 220px;
	height: 55px;
	border: 1px solid white;
	background-color: white;
	margin-left: 79%;
}
.header_logo2 img {
	width: 18%;
	padding-top: 7px;
	padding-left: 7px;
}
header span {
	font-size: 20px;
	color: black;
	padding-top: 15px;
	padding-right: 17px;
}
/* section1 section2 */
p {
	font-family: 'Lato', sans-serif;
    font-size: 20px;	
}
.section1 {
	margin: 50px 82px;
}
.text1 {
	line-height: 25px;
}
.text1 strong {
	font-weight: normal;
}
.section1, img {
	width: 50%
}
section {
	display: flex;
}
.title1 {
	font-family: 'Playfair Display',serif;
	font-size: 40px;
	margin: 0;
	line-height: 45px;
}
.subtitle1 {
	font-family: 'Playfair Display',serif;
	margin-top: 0;
	font-size: 17px;
	padding-top: 10px;
	padding-bottom: 20px;
}
.section2 {
    margin: 4%;
    width: 50%;
}
.section2, span {
    float: right;
}
hr {
    border: outset 0.5px black;
    margin-top: 3px;
    margin-bottom: 3px;
 }
 /* section 3 */
 .section3 {
    width: 50%;	
}
.photos {
	width: 50%;	
	display: flex;
	flex-wrap: wrap;   
}
.photo:hover {
	opacity: 0.5;
}
.title3 {
	font-family: 'Playfair Display',serif;
	font-size: 40px;
	line-height: 45px;
	width: 50%;
	margin-top: 90px;
	margin-left: 60px;
	margin-bottom: 0;
}
.subtitle3{
	font-family: 'Playfair Display',serif;
	margin-top: 0;
	font-size: 17px;
	padding-top: 6px;
	padding-bottom: 20px;
	margin-left: 60px;
}
.text3{
	width: 73%;
	margin-left: 60px;
	margin-bottom: 0;
	padding-bottom: 20px;
	line-height: 25px;
}
.text3 strong {
	font-weight: normal;
}
/* section4 */
#section4 {
	display: block;
	height: auto;
	background: url("images/section4_background.jpeg");
	background-size: cover;
	padding-left: 80px;
}
.text4 p {
	font-size: 65px;
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 60px;
}
.text4 h3 {
	font-size: 33px;
	font-family: 'Playfair Display', serif;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 10px;
}
.text4 p, h3 {
	line-height: 50px;
}
form {
	margin-left: 57%;
	padding-bottom: 60px;
}
.input-field {
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	height: 45px;
	width: 415px;
	padding: 5px;
	margin: 12px 5px 12px 0;
	border: 2px solid white;
	color: black;
}
form p {
	font-size: 15px;
}
button {
	margin-left: 65px;
}
#submit {
    background-color: black;
    color: white;
    height: 55px;
    width: 290px;
    font-family: 'Playfair Display', serif;
    border: 2px solid black;
    cursor: pointer; 
    font-size: 27px;
}
.content_gdprLegal p {
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	padding-bottom: 20px;
	width: 415px;
}
/* footer */
#footer {
	display: flex;
	background-color: black;
	color: white;
	padding: 57px 60px 30px 72px;
}
#footer a {
	display: flex;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	color: white;
	text-decoration: none;
}
#footer img {
	width: 90%;
}
.element:nth-child(2) {
	flex: 2;
	padding-left: 130px;	
}
.element:nth-child(1) h2 {
	font-size: 22px;
	font-family: 'Playfair Display', serif;
	margin: 0;
	padding-bottom: 45px;
}
.element:nth-child(1) a {
	line-height: 30px;
} 
.element:nth-child(2) p {
	width: 30%;
	font-size: 22px;
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	margin: 0;
	padding-bottom: 14px;
}
.element:nth-child(2) a {
	line-height: 35px;
}
.element:nth-child(3) p {
	font-size: 22px;
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	margin: 0;
	padding-bottom: 15px;
}
.element:nth-child(3) .image {
	display: flex;
	margin: 5px;
}
.element:nth-child(3) a {
	padding-right: 16px;
}
/* responsive 1100px */
@media all and (max-width: 1100px) {
	header {
		border-bottom: 2px solid black;
	}
	header {
		background: url("images/header_background_min.jpeg");
		height: auto;
		background-size: cover;
	}
	header p {
		margin: 10% 0 0 4%;
		font-size: 55px;
		line-height: 50px;
	}
	header h1 {
		margin: 0 0 25% 4%;
		font-size: 45px;
		line-height: 50px;	
	}
	header span {
		font-size: 15px;
	}
	.header_logo2 {
		margin: auto;
	}
	.image, .photos {
		display: none;
	}
	.section1, .section2, .section3 {
		width: 100%;
		margin: 2%;
		padding: 2%;
	}
	.section2 p {
		font-size: 19px;
	}
	.section3 p {
		width: 100%;
		margin: 0;
	}
	#section4 {
		padding: 5%;
	}
	form {
		margin: auto;
		padding-bottom: 60px;
		display: flex;
		flex-direction: column;
	}
	button {
		margin-right: auto;
	}
	.text4 p {
		font-size: 55px;
		font-family: 'Playfair Display', serif;
		font-weight: bold;
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 60px;
	}
	.text4 h3 {
		font-size: 30px;
		font-family: 'Playfair Display', serif;
		font-weight: normal;
		margin-top: 0;
		margin-bottom: 10px;
	}
	.aside1 {
		width: 100%;
		height: 400px;
		background: url("images/section1_image.jpeg"), url("images/section2_image.jpeg");
		background-size: 51%;
		background-repeat: no-repeat, no-repeat;
		background-position: left, right;
	}
	.aside2 {
		width: 100%;
		height: 300px;
		background: url("images/section3_image2.jpeg"), url("images/section3_image3.jpeg"), url("images/section3_image4.jpeg");
		background-size: 34%;
		background-repeat: no-repeat, no-repeat, no-repeat;
		background-position: left, center, right;
	}
	#footer {
		display: flex;
		flex-wrap: wrap-reverse;
	}
	#footer .element {
		width: 40%;
		margin: 0;
		padding: 50px;
	}
	.element:nth-child(2) p {
		width: 100%;
	}
}
/* responsive 640px */
@media all and (max-width: 640px) {	
	header {
		border-bottom: 2px solid gray;
	}
	header p {
		font-size: 35px;
		line-height: 40px;
	}
	header h1 {
		font-size: 30px;
		line-height: 40px;
	}
	header span {
		font-size: 15px;
	}
	header .logo1 {
		width: 80px;
		margin-bottom: 50px;
	}
	.header_logo2 {
		border: 1px solid black;
	}
	.aside1 {
		height: 200px;
	}
	.aside2 {
		height: 150px;
	}
	#section4 {
		padding: 5%;
	}
	.input-field {
		width: 315px;
	}
	#footer {
		display: block;
	}
	#footer .element {
		width: 100%;
		padding: 10% 10%;
	}
	.element:nth-child(1) h2 {
		padding-bottom: 20px;
	}
	#footer a {
		font-size: 15px;
		line-height: 20px;
	} 
	.element:nth-child(2) p {
		width: 60%;
	}
}