body {
	width: 100%;
	margin: 0;
}
/* header */
header {
	background: url("images/header_background.jpeg");
	height: auto;
	background-size: cover;
}
header .logo1 {
	display: block;
	margin: auto;
	width: 120px;
}
header p {
	margin: 270px 0 0 70px;
	font-family: 'Playfair Display', serif;
	font-size: 78px;
	font-weight: bold;
	color: white;
	width: 80%;
	line-height: 75px;
}
header h1 {
	margin: 0 0 200px 70px;
	font-family: 'Playfair Display', serif;
	font-size: 57px;
	font-weight: normal;
	color: white;
}
.header_logo2 {
	width: 220px;
	height: 55px;
	border: 1px solid white;
	background-color: white;
	margin-left: 79%;
}
.header_logo2 img {
	width: 18%;
	padding-top: 7px;
	padding-left: 7px;
}
header span {
	font-size: 20px;
	color: black;
	padding-top: 15px;
	padding-right: 17px;
}
/*section1 section2*/
p {
	font-family: 'Lato', sans-serif;
    font-size: 20px;	
}
.text {
	margin: 50px 82px;
}
.text2{
	line-height: 25px;
}
.text, img {
	width: 50%
}
section {
	display: flex;
}
.table {
    margin: 4%;
    width: 50%;
}
.table, span {
    float: right;
}
.police {
	font-family: 'Playfair Display',serif;
	font-size: 40px;
	margin: 0;
	line-height: 45px;
}
.police1 {
	font-family: 'Playfair Display',serif;
	margin-top: 0;
	font-size: 17px;
	padding-top: 10px;
	padding-bottom: 20px;
}
hr {
    border: outset 0.5px black;
    margin-top: 3px;
    margin-bottom: 3px;
 }
/* footer */
#footer {
	display: flex;
	background-color: black;
	color: white;
	padding: 57px 60px 30px 72px;
}
#footer a {
	display: flex;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	color: white;
	text-decoration: none;
}
#footer img {
	width: 90%;
}
.element:nth-child(2) {
	flex: 2;
	padding-left: 130px;	
}
.element:nth-child(1) h2 {
	font-size: 22px;
	font-family: 'Playfair Display', serif;
	margin: 0;
	padding-bottom: 45px;
}
.element:nth-child(1) a {
	line-height: 30px;
} 
.element:nth-child(2) p {
	width: 30%;
	font-size: 22px;
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	margin: 0;
	padding-bottom: 14px;
}
.element:nth-child(2) a {
	line-height: 35px;
}
.element:nth-child(3) p {
	font-size: 22px;
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	margin: 0;
	padding-bottom: 15px;
}
.element:nth-child(3) .image {
	display: flex;
	margin: 5px;
}
.element:nth-child(3) a {
	padding-right: 16px;
}

